/* Bootstrap grid styling */

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* Custom grid contents */

.text-container {
  padding: 8em 5em;
}

.grid-text-only h1 {
  font-size: 1.8em;
  font-weight: bold;
}

.grid-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#timeline-background {
  background-image: url("../img/mountains.jpg");
}

#chair-welcome-background {
  background-image: url("../img/chair-welcome-background.jpg");
}

/* Formatting for the top-right grid */

.white-highlight-rectangle {
  display: inline-block;
  background: white;
  margin-bottom: 2em;
}

.top-right h2 {
  color: black;
}

.top-right h3 {
  color: white;
  margin-bottom: 0;
}

.top-right td {
  font-weight: bold;
  color: #999999;
}

tr {
  height: 2em;
}

.dot {
  height: 2.2em;
  width: auto;
  padding-right: 1em;
  padding-left: 1em;
}

.line {
  height: 2.2em;
  width: auto;
}
