/* This CSS file contains the common styling for all pages. */

@font-face {
  font-family: "Roboto";
  src: URL("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  src: URL("../fonts/DINPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  src: URL("../fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "DIN Pro Light";
  src: URL("../fonts/DINPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "DIN Pro Medium";
  src: URL("../fonts/DINPro-Medium.ttf") format("truetype");
}

* {
  font-family: "Roboto";
  font-size: 10pt;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DIN Pro";
  line-height: 1.6;
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

html {
  scroll-behavior: smooth;
}

.highlight-text {
  color: #d32029;
}
