.page-footer {
  background-color: #252525;

  color: white;
}

.page-footer p {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;

  color: #676767;
  font-family: 'Open Sans', sans-serif;
  left: 150px;
  font-size: .8em;
}
